.body {
  margin: 0px;
}

.bigcont {
  width: 100vw;
  height: 100vh;
  background-color: red;
  display: flex;
}

.container {
  display: block;
  width: 20%;
  height: 100vh;
  background-color: brown;
}

.Hamburger {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: gray;
  gap: 10px;
  box-shadow: 0px 0px 30px gray;
}

.bar {
  margin-left: 5px;
  width: 30px;
  height: 2px;
  background-color: white;
}

.checkbox:checked+.Hamburger .bar:nth-of-type(2) {
  transition: 300ms;
  transform: translateX(15px);
  width: 0px;
  height: 0px;
}

.checkbox:checked+.Hamburger .bar:nth-of-type(1) {
  transform-origin: 10%;
  width: 38px;
  transition: 300ms;
  transform: rotate(45deg);
}

.checkbox:checked+.Hamburger .bar:nth-of-type(3) {
  transform-origin: 10%;
  width: 38px;
  transition: 300ms;
  transform: rotate(-45deg);
}

.txts {
  color: white;
  transform: translateX(0px);
  transition: 300ms;
  opacity: 0;
}

.b1 {
  transform: translateY(-35px);
  background-color: white;
  width: 90px;
  height: 3px;
  opacity: 0;
  transition: 300ms;
}

.b2 {
  transform: translateY(-20px);
  background-color: white;
  width: 90px;
  height: 3px;
  opacity: 0;
  transition: 300ms;
}

.b3 {
  transform: translateY(-20px);
  background-color: white;
  width: 90px;
  height: 3px;
  opacity: 0;
  transition: 300ms;
}

.b4 {
  transform: translateY(-20px);
  background-color: white;
  width: 90px;
  height: 3px;
  opacity: 0;
  transition: 300ms;
}

.w1:hover + .b1{
  width: 90px;
  background-color: white;
  opacity: 1;
  transform: translateY(-39px);
}
.w1:hover ~ .b2 {
  opacity: 1;
  transform: translateY(-16px);
}
.w2:hover + .b1 {
  width: 90px;
  background-color: white;
  opacity: 1;
  transform: translateY(-39px);
}
.w2:hover ~ .b3 {
  opacity: 1;
  transform: translateY(-16px);
}
.w3:hover + .b1 {
  width: 90px;
  background-color: white;
  opacity: 1;
  transform: translateY(-39px);
}
.w3:hover ~ .b4 {
  opacity: 1;
  transform: translateY(-16px);
}
.checkbox:checked ~ .txts {
  opacity: 1;
  transform: translateX(100px);
}

.checkbox {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 4px;
  opacity: 0;
  z-index: 1;
}
.pics {
  margin: 100px;
  width: 80%;
  height: 80vh;
  display: grid;
  grid-template-rows: 1.5fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid gold;
  grid-template-areas: 
  "pic1 pic1 pic2"
  "pic3 pic4 pic2"
  "pic5 pic5 pic6";
}
.zURAG1{
  position: relative;
  width: 100%;
  height: 100%;
  grid-area: pic1;
}
.zURAG1:hover .pic1{
  transform: translate(-10px, -10px);
  box-shadow: 2px 2px 2px 1px rebeccapurple;
}
.zURAG1:hover .be1 {
  z-index: 1;
}
.zURAG1:hover .be2 {
  z-index: 2;
  transform: translate(-4px, -4px);
}
.Zurag2 {
  position: relative;
  width: 100%;
  height: 100%;
  grid-area: pic2;
}
.Zurag2:hover .pic2{
  transform: translate(-10px, -10px);
  box-shadow: 2px 2px 2px 1px darkmagenta;
  z-index: 3;
}
.Zurag2:hover .be1 {
  z-index: 1;
}
.Zurag2:hover .be2 {
  transform: translate(-4px, -4px);
  z-index: 2;
}
.p {
  position: relative;
  width: 100%;
  height: 100%;
  grid-area: pic3;
}
.p:hover .pic3 {
  transform: translate(-10px, -10px);
  box-shadow: 2px 2px 2px 1px seagreen;
  z-index: 3;
}
.p:hover .be1 {
  z-index: 1;
}
.p:hover .be2 {
  transform: translate(-4px, -4px);
  z-index: 2;
}
.l {
  position: relative;
  width: 100%;
  height: 100%;
  grid-area: pic4;
}
.l:hover .pic4 {
  transform: translate(-10px, -10px);
  box-shadow: 2px 2px 2px 1px darkgoldenrod;
  z-index: 3;
}
.l:hover .be1 {
  z-index: 1;
}
.l:hover .be2 {
  transform: translate(-4px, -4px);
  z-index: 2;
}
.j {
  position: relative;
  width: 100%;
  height: 100%;
  grid-area: pic5;
}
.j:hover .pic5 {
  transform: translate(-10px, -10px);
  box-shadow: 2px 2px 2px 1px White;
  z-index: 3;
}
.j:hover .be1 {
  z-index: 1;
}
.j:hover .be2 {
  transform: translate(-4px, -4px);
  z-index: 2;
}
.k {
  position: relative;
  width: 100%;
  height: 100%;
  grid-area: pic6;
}
.k:hover .pic6 {
  transform: translate(-10px, -10px);
  box-shadow: 2px 2px 2px 1px Blue;
  z-index: 3;
}
.k:hover .be1 {
  z-index: 1;
}
.k:hover .be2 {
  z-index: 2;
  transform: translate(-4px, -4px);
}
.be1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: 0;
}
.be2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: brown;
  z-index: 0;
}
.pic1 {
  transition: 300ms;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
}
.pic2 {
  transition: 300ms;
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
}
.pic3 {
  transition: 300ms;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
}
.pic4 {
  transition: 300ms;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
}
.pic5 {
  transition: 300ms;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
}
.pic6 {
  transition: 300ms;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
}